// ---------------------------------
// MENU
$menu-width: 100%;
$menu-font-size: 50px;

// ---------------------------------

// QUESTION
// ---------------------------------
$question-button: 75px;
$question-button-font-size: 35px;

// ---------------------------------

$letter-spacing-hover: 5px;
$letter-spacing-active: 15px;
