// ---------------------------------
// MENU
$menu-width: 30%;
$menu-font-size: 50px;

// ---------------------------------

// QUESTION
// ---------------------------------
$question-button: 75px;
$question-button-font-size: 35px;

// ---------------------------------
