.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  &__item {
    display: block;
    font-size: 50px;
    font-family: sans-serif;
    padding: 25px;
    margin-top: 15px;
    width: 100%;
    border: 5px solid black;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.15s;
    background-color: #fff;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
