.pause {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 0 500px;
  background-color: #fff;
}
